@use './-vars.scss';

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found img {
  border-radius: 50%;
  border: 5px solid var(--hospital-green);
  max-width: 600px;
  margin: 44px 0 16px 0;
}

.not-found p {
  font-size: var(--lg);
  font-weight: bold;
  color: var(--hospital-green);
  text-align: center;
  margin: 0 0 8px 0;
}

.not-found .error {
  font-size: 40px;
}

.primary-button {
	background-color: var(--hospital-green);
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 220px;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}

.navigate-button {
  margin-top: 32px;
}

@media (max-width: 640px) {
	.not-found {
		height: 100%;
	}
  .not-found img {
    max-width: 80%;
  }
  .not-found .error {
    font-size: 25px;
  }
}